* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header, nav, main, footer {
    max-width: 80vw;
    margin: 5px auto;
    padding: 20px;
}

header, nav, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
}

header, nav, footer {
    background-color: #333;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group label {
    width: 100px;
    font-weight: bold;
}

.form-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    align-self: center;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}